.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #262726;
  border-radius: 10px;
  position: relative;
}

.contentBlock:hover {
  background-color: #00d167;
  color: #121312;
}

@media (max-width: 550px) {
  .contentBlock {
    width: 46%;
  }
}

.contentBlock__poster {
  border-radius: 10px;
  width: 100%;
}

.contentBlock__title {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 17px;
  padding: 3px 0 7px 0;
  text-decoration: none;
  color: white;
}

.contentBlock__title:hover {
  color: #121312;
}

.contentBlock__subtitle__wrapper {
  display: flex;
  justify-content: space-between;
}

.contentBlock__subTitle {

  padding-bottom: 3px;
  padding: 0 2px;
}

@media (max-width:345px) {
	.contentBlock__subtitle__wrapper {
		flex-direction: column;
		text-align: center;
		font-size: .9em;
	}
}
