@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

::-webkit-scrollbar {
  width: 5px;
  background-color: #03f785;
}
::-webkit-scrollbar-track {
  background-color: #03f785;
  
}
::-webkit-scrollbar-thumb {
  background-color: #0d8a4f
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
